@import '@styles/variables.css';

.btn {
    border-radius: 0.375rem;
    cursor: pointer;
    border: none;
}

.filled {
    background-color: var(--blue);
    color: var(--text-white);
}

.outline {
    background-color: var(--bg-primary);
    border: 2px solid var(--blue);
    color: var(--blue);
}

.small {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.medium {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.large {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
}

.disabled {
    background-color: lightgray;
    cursor: 'default';
}

.transparent {
    background-color: transparent;
    color: var(--blue);
}
