.favMain {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.favHead {
    font-size: var(--font-size-7xl);
    color: var(--red);
    font-weight: var(--font-weight-bold);
    margin-bottom: 1rem;
}

.favCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 80%;
}

.loaderContainer {
    margin-top: 5rem;
}

.notFoundText {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-size-2xl);
    color: var(--text-primary);
    font-weight: var(--font-weight-bold);
    margin-top: 1rem;
}