.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    width: 100%;

    nav {
        grid-row: 1;
    }

    .content {
        grid-row: 2;
        overflow-y: auto;
    }
}

.layoutMobile {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: relative;

    .contentMobile {
        flex-grow: 1;
        overflow-y: auto;
        height: 100%;
        width: 100%;
    }
}
