.layout {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;

    nav {
        grid-row: 1;
    }

    .content {
        grid-row: 2;
        overflow-y: auto;
    }
}
