:root {
    /* Backgrounds */
    --bg-primary: #eceff4;
    --bg-not-found: #61b4e4;
    --bg-error-page: #581c87;

    /* Text */
    --text-primary: #2e3440;
    --text-white: #e1e4ea;

    /* Buttons */
    --btn-primary: #2563eb;
    --btn-not-found: #f0db51;
    --btn-not-found-hover: #f2ce3e;

    /* Links */
    --link-hover-color: #1d4ed8;
}
