:root {
    --green: #3cb683;
    --red: #f66465;
    --blue: #2563eb;

    --bg-primary: #eceff4;
    --bg-error-page: #581c87;

    
    --border-focus: var(--green);
    --bg-not-found: #61b4e4;
    --bg-error-page: #581c87;
    
    /* Text */
    --text-primary: #2e3440;
    --text-white: #e1e4ea;
    --text-black: #000000;
    --text-highlight: var(--red);

    /* Buttons */
    --btn-primary: #2563eb;
    --btn-not-found: #f0db51;
    --btn-not-found-hover: #f2ce3e;

    /* Links */
    --link-hover-color: #1d4ed8;

    /* Badges */ 
    --color-normal: #A8A77A;
    --color-fire: #EE8130;
    --color-water: #6390F0;
    --color-electric: #F7D02C;
    --color-grass: #7AC74C;
    --color-ice: #96D9D6;
    --color-fighting: #C22E28;
    --color-poison: #A33EA1;
    --color-ground: #E2BF65;
    --color-flying: #A98FF3;
    --color-psychic: #F95587;
    --color-bug: #A6B91A;
    --color-rock: #B6A136;
    --color-ghost: #735797;
    --color-dragon: #6F35FC;
    --color-dark: #705746;
    --color-steel: #B7B7CE;
    --color-fairy: #D685AD;
}