:root {
    --green: #3cb683;
    --red: #f66465;
    --blue: #2563eb;

    --bg-primary: #eceff4;
    --bg-error-page: #581c87;

    --text-primary: #2e3440;
    --text-white: #ffffff;
    --text-highlight: var(--red);

    --border-focus: var(--green);

    --text-highlight-hover: var(--green);
}
